VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_PIXLLAND_SUPABASE_URL=
VITE_PIXLLAND_SUPABASE_PUBLISHABLE_KEY=
VITE_PIXLLAND_PROJECT_ID=
VITE_PIXLLAND_PLATFORM_ORIGIN=http://localhost:3000
VITE_ENGINE_LOCAL_ONLY=true
VITE_ENABLE_DEV_AUTH=false
VITE_DEV_AUTH_EMAIL=
VITE_DEV_AUTH_PASSWORD=
